<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script>
      function newBalance(account_id)
      {
        
        return JSON.parse($.ajax({
            type: "GET",
            url:'/newBalance/'+account_id,
            dataType: 'json',
            global: false,
            async: false,
            success : function(data) {
                return data;
            }
        }).responseText);
        ///console.log(getBalance);
        //return getBalance;
      }
      function getAccounBYAccountNum(account_id)
       {
        $.get('/get-accountsumry/'+account_id, function(data, status){
         var htmlOut='';
         htmlOut +='<h2>Account Detail</h2>';
              htmlOut +='<table class="table table-dark">';
                htmlOut +='<tr>';
                  htmlOut +='<th scope="col">S.No.</th>';
                  htmlOut +='<th scope="col">From Account</th>';
                  htmlOut +='<th scope="col">New Src Balance</th>';
                  htmlOut +='<th scope="col">To Account</th>';
                  htmlOut +='<th scope="col">Total Dest Balance</th>';
                  htmlOut +='<th scope="col">Transfered At</th>';
                  htmlOut +='</tr>';
                  for(let i=0;i<data.length;i++)
                  {
                    //newBalance(data[i].from_account);
                    ///newBalance(data[i].to_account);  
                    htmlOut +='<tr>';  
                    htmlOut +='<td scope="col">'+(i+1)+'</td>'; 
                    htmlOut +='<td scope="col">'+data[i].from_account+'</td>';  
                    htmlOut +='<td scope="col" id="newSrcBalance-'+data[i].from_account+'">Rs. '+newBalance(data[i].from_account).balance_amount+'</td>';
                    htmlOut +='<td scope="col">'+data[i].to_account+'</td>';  
                    htmlOut +='<td scope="col" id="totalDestBalance-'+data[i].to_account+'">Rs. '+newBalance(data[i].to_account).balance_amount+'</td>';
                    htmlOut +='<td scope="col">'+data[i].updatedAt+'</td>';
                    htmlOut +='</tr>';
                  }
           $('#output').html(htmlOut);
        });
       }
     $(document).ready(function(e){
        var from_account=$('#FromAccount').val();
        getAccounBYAccountNum(from_account);
        ///console.log(newBalance(from_account).balance_amount);
     });
     $(document).on('submit','#assign-to-account',function(e){
      var data={};
      data['from_account']=$('#FromAccount').val();
      data['to_account']=$('#ToAccount').val();
      data['amount']=$('#ammount').val();
      ///alert(JSON.stringify(data));
      if($('#FromAccount').val()==$('#ToAccount').val())
      {
        $('#message').html("From account and to account should be different");  
      }else
      {
      $.ajax({
            url: '/transaction',
            type: 'POST',
            data: data
           }).done(function(response){

             if(response.status==200)
             {
                getAccounBYAccountNum($('#FromAccount').val());   
              $('#message').html("Fund transfer successful");
             }else  if(response.status==100)
             {
              $('#message').html("You have not enough balance to transfer");
             }else
             {
              $('#message').html("Some thing went wrong");
             }
             
	        }).fail(function(xhr, status, error) {
                $('#message').html("Some thing went wrong");
          });
        }
       return false;
     });
  </script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">User</a>
      </li>
      <li>
        <a href="/create-user">Create User</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <div class="row">
        <% if(locals.title){ %>
        <h2><%= title %></h2>
        <% } %>
       
      <div class="col-sm-6">
         
        <form action="" method="POST" id="assign-to-account">
            <div class="form-group">
               <label for="pwd">From Account:</label>
               <input type="text" class="form-control" readonly id="FromAccount" name="FromAccount" value="<%= fromAccount %>">
               
            </div>
            <div class="form-group">
                <label for="pwd">To Account:</label>
                <select required="required" class="form-control" id="ToAccount" name="ToAccount">
                 <option value="">--To Account--</option>
                 <% if(locals.accountlis) { %>
                    <% accountlis.map((data,index)=>{ %>
                        <option value="<%= data.account_number %>"><%= data.account_number %></option>
                    <% }) %>
                
                
                <% } %>
               </select>
             </div>
             <div class="form-group">
                <label for="pwd">Amount:</label>
                <input required type="number" name="ammount" class="form-control" id="ammount" value="">
               
              </div>
            <p id="message"></p>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </div>
    </div>
    <div class="row">
       <div id="output">
          
       </div>
    </div>
  </div>
</div>
</body>
</html>